body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #c49ede;
background: linear-gradient(90deg,rgba(196, 158, 222, 1) 0%, rgba(250, 130, 130, 1) 50%, rgba(255, 204, 133, 1) 100%);;
}